Source: libglutes
Priority: optional
Maintainer: Sami Kyöstilä <sami.kyostila@gmail.com>
Build-Depends: debhelper (>= 4.0.0), libgles1-dev
Standards-Version: 3.6.1

Package: libglutes-dev
Section: libdev
Architecture: any
Depends: libglutes1 (= ${Source-Version})
Description: GLUT over OpenGL ES
 GLUT over OpenGL ES

Package: libglutes1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgles1
Description: GLUT over OpenGL ES
 GLUT over OpenGL ES

